* {
    margin: 0;
    box-sizing: border-box;
    /* #004aad blue
    #fdda00 yellow*/
}
html, body {

}
h1, h2, h3 {
    font-family: 'Sanchez', serif;
    color:#004aad;
    text-align: center;
}
p {
    font-family: sans-serif;
}
p.error {
    color: red;
    font-size: 16px;
    text-align: center;
    margin: 10px;
}
img.loading {
    width: 100px;
    height: 100px;
}
img.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fdda00;
    margin-top: 30px;
    margin-bottom: 20px;
}
img.profile-pic:hover {
    cursor: pointer;
    background-color: black;
    z-index: 10;
}

input {
    text-align: center;
    font-size: 14px;
    width: 200px;
    border: 0;
    border-bottom: 2px solid #fdda00;
    outline: 0;
    color: #004aad;
    padding: 10px 0;
    background: transparent;
    margin-right: 5px;
}

button.simpleButton {
    display: inline-block;
    background-color: #fff;
    width: 200px;
    padding: 8px;
    color: #004aad;
    border: 1px solid #004aad;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-top: 10px;
}
button.simpleButton:hover {
    border: 1px solid #fdda00;
    background-color: #fff;
    color: #ff914d;
    cursor: pointer;
}
div.chat-container {
    height: 300px;
    overflow-y: scroll;
}
a {
  color: #004aad;
}
a:visited {
  color: #004aad;
}
a:hover, a:active, a:focus {
  color: #ff914d;
}
